asgiref==3.12.1
distlib==0.4.3
dj-database-url==3.1.2
Django==5.2.17
django-cors-headers==4.9.0
djangorestframework==3.18.1
filelock==3.32.7
g==0.0.9
gunicorn==26.2.0
platformdirs==4.11.12
psycopg2-binary==2.9.13
python-discovery==1.6.1
sqlparse==0.6.0
tzdata==2026.4
virtualenv==21.9.1
whitenoise==6.12.0
